footer {
  background-image: radial-gradient(red, black);
  color: #ffffff;
  padding: 10px 0;
  border-top: 3px solid black;
  display: flex;
  flex-direction: row; 
  align-items: center;

  .footer-paginas {
      display: flex;
      justify-content: space-around; /* Distribuye columnas */
      width: 100%;
      flex-wrap: wrap; 
  }


  .navs { 
      padding: 5px;
      margin: 0;
      background-color: black;
      list-style: none;

      li {
          margin: 5px 0; 
      }

      a {
          color: #ffffff;
          font-family:"Holtwood One SC" ;
          text-decoration: none;
          padding: 10px 15px;
       
          &:hover {
            background-image: linear-gradient(rgba(77, 1, 255, 0.74), rgb(38, 0, 255));
         transition: transform 0.3s ease, background-image 0.3s ease, color 0.3s ease;
          color: #00f148;
              box-shadow: 2px;
              border-radius: 4px;
              color: #fcfbfb;
              padding: 5px 10px;
          }
      }
  }
}

