.cuadro-texto {
  border: 2px solid #ff0404;
  color: #ff0000;
  margin-top: 600px;
}

.cuadro-texto2 {
  font-size: 14px;
  padding-left: 120px;
  margin-top: -40px;
}

.cuadro-texto,
.cuadro-mixto,
.cuadro-canon {
  display: block;
  padding: 10px;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 10px;
  width: 100px;
}

.cuadro-canon {
  border: 2px solid #1eff00;
  color: #00ff22;
  margin-top: 30px;
}

.cuadro-canon2 {
  font-size: 14px;
  padding-left: 120px;
  margin-top: -40px;
}

.cuadro-mixto {
  border: 2px solid hsl(226, 100%, 50%);
  color: hsl(249, 100%, 50%);
  margin-top: 30px;
}

.cuadro-mixto2 {
  font-size: 14px;
  padding-left: 120px;
  margin-top: -40px;
}

.p-class {
  color: #33ff00;
  font-style: Regular 400;
}

.p-class2 {
  color: #ff0101;
  font-style: Regular 400;
}

.p-class3 {
  color: #000dff;
  font-style: Regular 400;
}

ul, li {
  list-style: none;
  display: inline-block;
}